.navigacion #logo {
  height: 70px;
  margin-left: 20px;
}

/* @media (min-width: 1200px) {
  .navigacion #logo {
    margin-right: 100px;
  }
} */

.navigacion {
  /* margin: 25px; */
  background-color: white;
  /* position: fixed; */
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  height: 55px;
  display: flex;
  align-items: center;
}

.navigacion * {
  display: inline;
}

.navigacion nav {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.navigacion ul li {
  margin: 10px;
}

/* Animacion menus */
.navigacion li a {
  transition: all 0.5s ease;
}

.navigacion li a:hover {
  background-color: #432918;
  color: white;
}

.navigacion ul a {
  color: #432918;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
}

/* buscar */

.navigacion .buscar {
  width: 100px;
  height: 35px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}

.navigacion .buscar:focus {
  outline: none;
}

/* Menu */

.navigacion .menu {
  height: 25px;
  margin-right: 25px;
}
